/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Global styles */
body {
    background-color: #f0f0f0;
}

.login-container {
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    padding: 1.5rem;
    width: 86%;
    box-shadow: 0 2px 4px rgba(43, 80, 136, 0.1);
    grid-template-areas: 
    "h h h h h h"
    "w w w l l l"
    "f f f f f f";
    
}

/* Welcome section */
.header {
    grid-area: h;
    height: 80%;
    width: 100%;
    justify-self: center;
    background-color: #0497ec;
    color: aliceblue;
}

#company-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0.25rem;
    margin-left: 0.2rem;
   
}

.welcome-section {
    grid-area: w;
    background: url('welcomebg2.svg') no-repeat center center;
    width: 100%;
    height: 100%;
    color: white;
    margin-right:.15rem;
    background-size: cover;
}



#wlc-mgs {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}

/* Login section */
.login-section {
    grid-area: l;
    margin-left: .15rem;

}

.login-section h1 {
    font-size: 26px;
    font-weight: bold;
    color: #2c2929;
    margin-bottom: 1.25rem;
}

.login-section p {
    margin-bottom: 1.5rem;
    height: 100%;
    width: 100%;
    padding-left: .15rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form label,
form p {
    margin: 0 10px 5px 0;
}

form p {
    text-align: right;
    margin-bottom: 20px;
}

form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
}

form button:hover {
    background-color: #0056b3;
}

form a {
    color: #007bff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

.footer {
    grid-area: f;
    background-color: #1c1d1f;
    color: #ccc;
    text-align: center;
    width: 100%;
    height: 80%;
}
